

.MealType img{

    height: 200px;
    border-radius: 10px;
}
.cardbackcup{
    border: none;
    background: n;
    border-radius: 10px;
}
.backupbody{
    background-color: lightgray;
    height: 100px;
}
.card{
    height: 350px;
    background: none;
    margin-bottom: 0px;
}

.cards h3{
    font-size: 25px;
    color: #363958;
}
ul li{
    list-style: none;
}
ul{
    padding-left: 0px;
    margin-left: 0px;
}

























#DisplayInformation{
    width: 480px;
    padding: 20px;
    margin: 0px auto;
    height: 450px;
    display: none;
    margin-bottom: 50px;
}
#DisplayInformation img{
    height: 220px;
}
#DisplayInformation h1{
    color: red;
}
#card-body{
    height: 500px;
}
h3,h4{
    font-weight: 800;
}